<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8" />
    <%- css('css/reset.css') %> <%- css('css/index.css') %>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"
      integrity="sha512-CryKbMe7sjSCDPl18jtJI5DR5jtkUWxPXWaLCst6QjH8wxDexfRJic2WRmRXmstr2Y8SxDDWuBO6CQC6IE4KTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="
https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js
"></script>
  </head>
  <body>
    <div class="index">
      <% site.posts.reverse().forEach(function(post,index){ %>

      <div class="post" onclick="goPostPage(<% post.path %>)">
        <a href="/<%- post.path %>">
          <h2><%- post.title %></h2>
          <p>
            <span class="date"
              ><%- moment(post.date).format("YYYY/MM/DD") %></span
            >
          </p>
        </a>
        <br />
        <% if(index===0){ %>
        <div><%- post.content %></div>
        <% }else { %>
        <div><% post.brief %></div>
        <% } %>
      </div>

      <% }); %>
    </div>

    <%- js('js/index.js') %>
  </body>
</html>
