<!DOCTYPE html>
<html>

<head>
  <title></title>
  <meta charset="utf-8" />
  <%- include('./header.ejs'); -%>
  <%- css('css/index.css') %>

</head>

<body>
  <div class="index ">

    <%
      site.posts.reverse().forEach(function(post,index){ %>

    <div class="post" onclick="goPostPage(<% post.path %>)">
      <% console.log(post.excerpt) %>
      <a href="/<%- post.path %>">
        <h2><span class="date"><%- moment(post.date).format("YYYY/MM/DD") %></span> <%- post.title %></h2>
      </a>
      <br />
    </div>

    <% }); %>
  </div>

  <%- js('js/index.js') %>
  <%- include('./footer.ejs'); -%>
</body>

</html>