<!DOCTYPE html>
<html>

<head>
  <title></title>
  <meta charset="utf-8" />
  <%- css('css/reset.css') %> <%- css('css/layout.css') %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js" integrity="sha512-CryKbMe7sjSCDPl18jtJI5DR5jtkUWxPXWaLCst6QjH8wxDexfRJic2WRmRXmstr2Y8SxDDWuBO6CQC6IE4KTA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body>
  <div class="layout-color-line">

    <%
    theme.colors.forEach(function(post,index){ %>

    <span style="background:<%- post.value %>"></span>
    <% }); %>

  </div>
  <div class="layout">
    <!-- {
        posts: _Query { data: [ [_Document], [_Document] ], length: 2 },
        pages: _Query { data: [], length: 0 },
        categories: _Query { data: [], length: 0 },
        tags: _Query { data: [], length: 0 },
        data: {}
      } -->


    <header>
      <a class='layout-author' href="/"><%- config.author %></a>
      <nav>
        <a href="/about">about</a>
        <a href="/catrgories">catrgories</a>
        <a href="/tags">tags</a>
      </nav>
    </header>
    <%- body %>
  </div>

  <%- js('js/layout.js') %>
</body>

</html>