<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <%- css('css/reset.css') %>
    <%- css('css/layout.css') %>
</head>
<body>

    这里是 layout.ejs

    <%- include("index.ejs") %>

    <%- include("post.ejs") %>

    <% site.posts.forEach(function(post){ %>

        <%- post.path %>
        <br />
        <%- post.slug %>
        <br />
        <%- post._id %>
        <br />
        <%- post.title %>
        <br />
        <%- post.date %>
        <br />

        <a href="/<%- post.path %>"><%- post.title %></a>

    <% }); %>
  
  <%- body %>

</body>
</html>